body {
padding-left: 10%;
padding-right: 10%;
margin: 0;
display: grid;
height: 100%;
}

h1{

color: #0A2338;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 110%;
}

h2 {
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 140%;
/* or 67px */


color: #402B2B;

}

h3{
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 40px;
color: #E57154;
}

h4 {

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}

h5 {

font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;

color: #402B2B;
}

p {
font-family: Rubik;
font-size: 16px;
font-weight: bold;
}

.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 50px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: black;
}

.topnav-right {
  float: right;
}

.navbutton {
  background-color: #E57154;
  border: none;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}



.navbutton {
  background-color: #E57154;
  border: none;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}




.navbutton {
  background-color: #E57154;
  border: none;
  color: white;
  font-style: normal;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

/* align images side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* align images side by side - clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* make the top margin of each section 10% */
.marginTop10{
	margin-top: 10%;
}

/* make the top margin of each section 20% */
.marginTop20{
	margin-top: 20%;
}


/* landing page join us button */
.landingbutton {
  background-color: #E68976;
  border: none;
  color: white;
  font-style: normal;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

/* learn more button */
.learnmorebutton {
  background-color: white;
  border: none;
  color: #E68976;
  font-style: normal;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

.slider{
  max-width: 1100px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
  
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
 background: #E68976;
 border-radius: 50px;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}
