<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>About Us</title>
	<link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
    

</head>

<body  data-spy="scroll" data-target=".navbar" data-offset="50">

	<!--navbar start-->
	<header>
		<nav class="navbar navbar-light navbar-expand-md fixed-top">
			<div class = "container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a href="/" class="navbar-brand vertical-center" style="padding: 5px auto 2px auto;"><img src="{{url_for('static', filename='images/wits.png')}}" alt="she/hacks"></a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<i class="navbar-toggler-icon"></i>
				</button>  
	
				<!-- collapse navbar -->
				<div class="navbar-collapse collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto w-100 clearfix">
						<li class="nav-item vertical-center"><a class="nav-link" href="/initiatives">INITATIVES</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/partners">PARTNER</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/about">ABOUT US</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" target="_blank" href="https://witsuwo.wixsite.com/merch">STORE</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/membership"><button class="join-button">JOIN US</button></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="teal-background" style="padding-top: 7%;">
		<div class="container">
			<div class="row reverse-col">
				<div class="col-lg-6 m-auto">
					<h1>About Us</h1>
					<br>
					<h4 style="font-family: nunito; color: #0A2338;">
						At Women In Technology Society, we’re here to support you in your journey through the tech world, join our community today!
					</h4>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5">
					<img src="{{url_for('static', filename='images/pipelines.png')}}" alt="main pic">
				</div>
			</div>
		</div>
	</section>
	<img src="{{url_for('static', filename='images/header-waves/teal-wave.svg')}}" class="w-100 mb-5" style="margin-top: -5px;">


	<section>
		<div class="container">
			<div class="row">
				<div class="horizontal-center w-100 p-4">
					<h2>Meet the WITS Family</h2>
					
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://linkedin.com/in/joyyzheng" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Joy.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4" style=" color: #0A2338;">  Joy Zheng </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Co-President of WITS </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/ipewar/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Izzie.PNG')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Izzie Pewarchuk </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Co-President of WITS </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/ayesha-hassan-/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Ayesha.jpeg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Ayesha Hassan </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Events & Educationals </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/olivia-yong" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Olivia.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Olivia Yong </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Events & Educationals </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/serena-zhu-93a187238/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Serena.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Serena Zhu </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Events & Educationals </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Tia.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Tia Golding </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Events & Educationals </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="www.linkedin.com/in/ciciiu" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Cici.JPG')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Cici Lu </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Events & Educationals </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Durr.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Durr Al-Mohammed </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Events & Educationals </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/swathi-thushiyandan" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Swathi.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Swathi Thushiyandan </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Mentorship & Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/jocelyn-chang-a710921b7/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Jocelyn.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Jocelyn Chang </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Mentorship & Sponsorship </h4>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Emma.PNG')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Emma Li </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Mentorship & Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Paridhi.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Paridhi Mehla </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Mentorship & Sponsorships </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/tinaxu2004/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Tina.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Tina Xu </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Mentorship & Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="http://linkedin.com/in/parneetbaidwan824" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Parneet.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Parneet Baidwan </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> SheHacks Chair </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="www.linkedin.com/in/sarah-solaiman-b0aa93247" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Sarah.JPG')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Sarah Solaiman </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> SheHacks Chair </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/clairezhangg/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Claire.jpeg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Claire Zhang </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of SheHacks </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/freda-zhao-984442210/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Freda.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Freda Zhao </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of SheHacks </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/meridith-shang/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Meridith.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Meredith Shang </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of SheHacks </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/vaanyap/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Vaanya.jpeg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Vaanya Puri </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of SheHacks </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/kathyjhe/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Kathy.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Kathy He </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/cynthia-li-9577a1252" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Cynthia.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Cynthia Li </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="www.linkedin.com/in/anne-zhang-41a66729b" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Anne.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Anne Zhang </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/rachel-p-rp18488/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Rachel.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Rachel Peng </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/SarahL.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Sarah Lieng </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/allisoncwli/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Allison.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Allison Li </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/tsid-tomori-8042991b3/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Sid.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Tsidkenu Tomori </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Marketing </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Yilin.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Yilin Wang </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Design </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Annie.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Annie Nguyen </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Design </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Tina.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Tina Tang </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Design </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Celina.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Celina Xiao </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Design </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/ayeshaqaisar" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Ayesha.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Ayesha Qaisar </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/sdaher3/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Sara.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Sara Daher </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/maedaimran/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Maeda.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Maeda Imran </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/kethyhu/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Kethy.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Kethy Hu </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/jenny-tran-402306239/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Jenny.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Jenny Tran </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/ryhana-williams-42b8882b1/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Ryhana.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Ryhana Williams </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="www.linkedin.com/in/juna-kim-056977237/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Juna.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Juna Kim </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/laura-gomez-8b9034303/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Laura.png')}}" alt="Shirley Wu" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Laura Gomez </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/ivory-huo/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Ivory.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Ivory Huo </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Development </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://ca.linkedin.com/in/ashiti-patel" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Ashiti.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Ashiti Patel </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Ria.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Ria Tanna </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="www.linkedin.com/in/gloria-qi-" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Gloria.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Gloria Qi </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/simrangambhirw/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Simran.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Simran Gambhir </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="https://www.linkedin.com/in/eliza-anis-281907e/" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Eliza.jpg')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Eliza Anis </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Sponsorship </h4>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Arya.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Arya Joshi </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> VP of Finance </h4>
				</div>

				<div class="col-lg-2 col-md-4 col-sm-6 col-6 p-4">
					<a href="" target="_blank"><img src="{{url_for('static', filename='images/wits-members/Sanskriti.png')}}" alt="WITS Member" class="headshot"></a>
					<h5 class="horizontal-center headshot-name mt-4"style=" color: #0A2338;"> Sanskriti Gupta </h5>
					<h4 style="text-align: center; font-size: 1rem; font-family: nunito"> Director of Finance </h4>
				</div>
				
			</div>
		</div>
	</section>

	<section style="background: #F1EFE2; padding: 7% 0; margin-top: 5%">
		<div class="container">
			<div class="row">
				<div class="horizontal-center w-100 p-4 m-auto">
					<h2>Where We've Worked</h2>
				</div>				
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://careers.google.com/jobs/" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/googlelogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.mckinsey.com/careers/search-jobs" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/mclogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://stripe.com/en-ca/jobs" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/stripelogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.goldmansachs.com/careers/" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/gslogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://careers.microsoft.com/" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/microsoftlogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://stripe.com/en-ca/jobs" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/shopifylogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.shopify.ca/careers" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/dslogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.cloudflare.com/careers/" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/cloudfare.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://jobs.rbc.com/ca/en" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/rbclogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://jobs.td.com/en-CA/" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/tdlogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.cppinvestments.com/careers" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/cpplogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.cisco.com/c/en/us/about/careers.html" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/ciscologo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.avanade.com/en-ca/careers" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/avanadelogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://www.cibc.com/en/about-cibc/careers.html" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/cibclogo.png')}}" alt="admin">
					</a>
				</div>
				<div class="col-lg-3 col-sm-4 col-4 p-4 m-auto horizontal-center">
					<a href="https://jobs.bce.ca/" target="_blank">
						<img id="hoverimg" src="{{url_for('static', filename='images/belllogo.png')}}" alt="admin">
					</a>
				</div>
			</div>
		</div>
	</section>
	

	<!-- footer -->
	<footer>
		<div class="marginTop5Footer" style="margin-bottom: 5%">
			<!-- footer key text -->
			<div class="container">
  				<div class="row">
  					<div class="col-lg-7 col-sm-12 col-12">
						<h6>
							Women in Technology Society
						</h6>
						<p>
							1151 Richmond St, London, ON N6A 3K7<br>
							<a href="mailto:wits.uwo@gmail.com" class="link">wits.uwo@gmail.com</a><br>
							Made with &#10084;&#65039;&nbspin London, ON
						</p>
						<br>
  					</div>
  					<!-- footer social media for desktop view -->
  					<div class="col-lg-5 col-sm-12 col-12">
  						<ul class="wits-social">
							<li><a href="http://www.facebook.com/wits.uwo/" target="_blank"><img src="{{url_for('static', filename='images/facebook_b.png')}}" alt="facebook"></a></li>
							<li><a href="https://www.linkedin.com/company/uwowits/" target="_blank"><img src="{{url_for('static', filename='images/linkedin_b.png')}}" alt="linkedin"></a></li>
							<li><a href="http://www.instagram.com/wits.uwo/" target="_blank"><img src="{{url_for('static', filename='images/insta.png')}}" alt="instagram"></a></li>
							<li><a href="https://wits-uwo.medium.com/" target="_blank"><img src="{{url_for('static', filename='images/medium_b.png')}}" alt="medium"></a></li>
							<li><a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=wPx63QWfS02WjwW3dDDylA" target="_blank"><img src="{{url_for('static', filename='images/spotify_b.png')}}" alt="spotify"></a></li>
					  	</ul>
  					</div>
  				</div>
  			</div>
		</div>
	</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
