<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Blog & Podcast</title>
	
	<link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'> 
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<header>
		<nav class="navbar navbar-light navbar-expand-md fixed-top">
			<div class = "container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a href="/" class="navbar-brand vertical-center" style="padding: 5px auto 2px auto;"><img src="{{ url_for('static', filename='images/wits.png') }}" alt="she/hacks"></a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<i class="navbar-toggler-icon"></i>
				</button>  
				
				<!-- collapse navbar -->
				<div class="navbar-collapse collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto w-100 clearfix">
						<li class="nav-item vertical-center"><a class="nav-link" href="/initiatives">INITIATIVES</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/partners">PARTNER</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/about">ABOUT US</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" target="_blank" href="https://witsuwo.wixsite.com/merch">STORE</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/membership"><button class="join-button">JOIN US</button></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section style="background: #F4D089; padding-top: 12%; padding-bottom: 5%">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 m-auto">
					<h1>Blog & <br>Podcast</h1>
				</div>
				<div class="col-lg-6 py-5">
					<h4 style="font-family:nunito; font-weight: 600; line-height: 180%; color: #0A2338;">
						Hear and read the thoughts of powerful women in tech! Join us as we delve into their stories and insights.

					</h4>
				</div>
			</div>
		</div>
	</section>
	
	<div style="margin-top:5%">
		<div class="container">
			<div class="row" style="margin-bottom: 0px;">
			
				<div class="col" >
					
					<h3>PODCAST</h3>
					<h2 style="color:#0A2338" >Trailblaze-hers</h2><br>
					<h4><a class="buttonHover" href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=InbX0VusQO6vwCWbeDd2EA" target="_blank">TrailBlaze-Hers is now available on Spotify!</a></h4>
					<h5 style="color: #0A2338; font-family:nunito; line-height:160%">The TrailBlaze-Hers Podcast tells the stories of influential women in tech - one story at a time. </h5>
				</div>
		
			</div>
			<div class="row">
			
				<div class="col-5 col-md-5 text-center">
					<a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=InbX0VusQO6vwCWbeDd2EA"target="_blank" ><img src="{{ url_for('static', filename='images/google.png') }}"  alt="blog pic" ></a>
					<h5 style="text-align: center; color: #0A2338;"> Google's VP of User <br> Experience<br></h5>
					<a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=InbX0VusQO6vwCWbeDd2EA" target="_blank" class="btn btn-sm rounded-pill landingbutton justify-content-center" style="color: white; font-family: Rubik;">Listen on Spotify</a>
					
				</div>
				<div class="col-2 col-md-2">
				
				</div>
				
				<div class="col-5 col-md-5 text-center">
					<a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=InbX0VusQO6vwCWbeDd2EA"target="_blank" ><img src="{{ url_for('static', filename='images/cloud.png') }}" alt="blog pic"></a>	
					<h5 style="text-align: center; color: #0A2338;"> In the Cloud with Erin <br> Chapple<br></h5>
					<a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=InbX0VusQO6vwCWbeDd2EA"  target="_blank" class="btn btn-sm rounded-pill landingbutton" style="color: white; font-family: Rubik;">Listen on Spotify</a>
				</div>
		
			</div>
		</div>
	</div>
	
	<div style="margin-top:5%; background:#F2D0C8 ">
		<div class="container">
			<div class="row">
			
				<div class="col">
					<br><br><br>
					<h3>MEDIUM BLOG</h3>
					<h2>Insights, inspirations, <br> and more!</h2>
		
				
				</div>
		
			</div>
			<div class="row">
			
				<div class="col">
					<a href="https://wits-uwo.medium.com/behind-the-scenes-shehacks-v-f37b35410ae2" target="_blank" ><img src="{{ url_for('static', filename='images/social.png') }}" alt="blog pic"></a>
					<h5 style="text-align: center; color:#0A2338"> Behind the Scenes: SheHacks V</h5>
					
				</div>
				<div class="col">
					<a href="https://wits-uwo.medium.com/tapping-from-6-feet-apart-the-evolution-and-rise-of-the-mobile-wallet-following-the-covid-19-f2904f983404" target="_blank" ><img src="{{ url_for('static', filename='images/insurance.png') }}" alt="blog pic" ></a>	
					<h5 style="text-align: center; color:#0A2338"> Tapping from 6 Feet Apart: The Evolution and Rise of the Mobile Wallet Following the COVID-19 Pandemic</h5>
					
				</div>
				<div class="col">
					<a href="https://medium.com/@wits.uwo/googles-vp-of-ux-designing-your-own-future-3b5271e84b06"target="_blank" ><img src="{{ url_for('static', filename='images/googleux.png') }}" alt="blog pic" ></a>	
					<h5 style="text-align: center; color:#0A2338"> Google’s VP of UX: Designing your own Future</h5>
					
				</div>
				
			</div>
		</div>
		<br><br>
	</div>
		
	
	<!-- footer -->
	<footer>
		<div class="marginTop5Footer" style="margin-bottom: 5%">
			
			<!-- footer key text -->
			<div class="container">
  				<div class="row">
  					<div class="col-lg-7 col-sm-12 col-12">
						<h6>
							Women in Technology Society
						</h6>
						<p>
							1151 Richmond St, London, ON N6A 3K7<br>
							<a href="mailto:wits.uwo@gmail.com" class="link">wits.uwo@gmail.com</a><br>
							Made with &#10084;&#65039;&nbspin London, ON
						</p>
						<br>
  					</div>
  					
  					<!-- footer social media for desktop view -->
  					<div class="col-lg-5 col-sm-12 col-12">
						<ul class="wits-social">
						  	<li><a href="http://www.facebook.com/wits.uwo/" target="_blank"><img src="{{url_for('static', filename='images/facebook_b.png')}}" alt="facebook"></a></li>
						  	<li><a href="https://www.linkedin.com/company/uwowits/" target="_blank"><img src="{{url_for('static', filename='images/linkedin_b.png')}}" alt="linkedin"></a></li>
						  	<li><a href="http://www.instagram.com/wits.uwo/" target="_blank"><img src="{{url_for('static', filename='images/insta.png')}}" alt="instagram"></a></li>
						  	<li><a href="https://wits-uwo.medium.com/" target="_blank"><img src="{{url_for('static', filename='images/medium_b.png')}}" alt="medium"></a></li>
						  	<li><a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=wPx63QWfS02WjwW3dDDylA" target="_blank"><img src="{{url_for('static', filename='images/spotify_b.png')}}" alt="spotify"></a></li>
					  	</ul>
  					</div>
  				</div>
  			</div>
		</div>
	</footer>
		
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>
</html>
