<!DOCTYPE html>
<html>

<head>
	<!--meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--title and favicon-->
	<title>Break Into Tech</title>
	<link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">

	<!--stylesheets-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='membership.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

	<!--js-->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://js.stripe.com/v3"></script>

	<script src='https://kit.fontawesome.com/a076d05399.js'></script>



</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<header>
		<nav class="navbar navbar-light navbar-expand-md fixed-top">
			<div class="container m-auto vertical-center">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a href="/" class="navbar-brand vertical-center" style="padding: 5px auto 2px auto;"><img
						src="{{url_for('static', filename='images/wits.png')}}" alt="she/hacks"></a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="navbar-toggler-icon"></i>
				</button>

				<!-- collapse navbar -->
				<div class="navbar-collapse collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto w-100 clearfix">
						<li class="nav-item vertical-center"><a class="nav-link" href="/initiatives">INITIATIVES</a>
						</li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/partners">PARTNER</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/about">ABOUT US</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" target="_blank"
								href="https://witsuwo.wixsite.com/merch">STORE</a></li>
						<li class="nav-item vertical-center"><a class="nav-link" href="/membership"><button
									class="join-button">JOIN US</button></a></li>
					</ul>
				</div>
			</div>
			</ul>
			</div>
			</div>
		</nav>
	</header>
	<!--landing page-->
	<section style="background: #E68976; padding-top: 10%;">
		<div class="container">
			<div class="row reverse-col">
				<div class="col-lg-6 m-auto">
					<h1>Break into tech <br>with WITS!<h1>
							<br>
							<h4 style="color: #0A2338; font-family:nunito">Ready to take a stand and join the tech
								community?
								Become a member of the WITS family and receive access
								to a wonderful network of changemakers and resources to
								get you involved in tech!</h4>
				</div>
				<div class="col-lg-6">
					<img src="{{url_for('static', filename='images/membershippic.png')}}" alt="main pic" width="90%">
				</div>
			</div>
			<br><br><br>
		</div>
	</section>
	<!--landing page wave-->
	<img src="{{url_for('static', filename='images/membership-wave.svg')}}" class="w-100 mb-5"
		style="margin-top: -5px;">
	<!--landing page ends-->

	<!--membership table-->
	<a name="membershiptable"></a>
	<div class="container py-5">
		<table class="table" id="membership">
			<!--table headings-->
			<tr>
				<th class="align-middle">
					<h4 style="font-family:helvetica; font-weight: bold; color:black">Membership Perks</h4>
					<h6 style="line-height:120%; font-family: nunito; color: black; font-weight: 700;">Available to all
						genders from any university</h6>
				</th>
				<th style="padding:2%">
					<h6
						style="text-align: center; line-height:120%; font-family: Rubik; color: #E57154; font-weight: 700;">
						GENERAL MEMBER</h6>
					<h2 style="text-align: center;">Free</h2>
				</th>
				<th style="padding:2%">
					<h6
						style="text-align: center; line-height:120%; font-family: Rubik; color: #E57154; font-weight: 700;">
						WITS MEMBER</h6>
					<h2 style="text-align: center;">$15</h2>
				</th>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Workshops and Educational Events</h5>
				</td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Recruiting Series</h5>
				</td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Cookies and Code Events</h5>
				</td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Advanced registration to limited capacity events</h5>
				</td>
				<td align="center"> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Access to exclusive tech resources and opportunities</h5>
				</td>
				<td align="center"> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Bi-weekly member newsletters</h5>
				</td>
				<td align="center"> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Exclusive profile feature on WITS website</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Free or discounted entry for ticketed events</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Discount code for the WITS merch store.</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Resume editing and review by WITS execs</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr style="background-color: #F1EFE2;">
				<td>
					<h5 style="color:black; font-weight: 600; padding: 2% 0">These perks are available for female &
						non-binary Western University students only</h5>
				</td>
				<td></td>
				<td></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Resume database for recruiters</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Exclusive access to our Ada Mentorship Program</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Exclusive access to our Hack with Heart Program</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
			<!--membership perks row-->
			<tr>
				<td>
					<h5 style="color:black; margin-top:1%">Exclusive access to our Tech Coffee Chat series</h5>
				</td>
				<td> </td>
				<td align="center"><i class="fa fa-check" style="color:#E68976;"></i></td>
			</tr>
		</table>
	</div>
	<!--join us section-->
	<section style="background: #F4D089; padding: 5% 0; margin-top: 1%">
		<div class="container-fluid">
			<h2 style="text-align:center">Ready to join a community of boss women?</h2>
			<br><Br>
			<!--join us button-->
			<div class="row justify-content-center">
				<button type="button" class="btn btn-lg rounded-pill landingbutton"
					style="color: white; font-family: Rubik;"
					onclick="window.location.href='https://tally.so/r/waWXX2'">Let's do it</button>
			</div>
		</div>
	</section>
	<!--join us section-->


	<!-- footer -->
	<footer>
		<div class="marginTop5Footer" style="margin-bottom: 5%">
			<!-- footer key text -->
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-sm-12 col-12">
						<h6>
							Women in Technology Society
						</h6>
						<p>
							1151 Richmond St, London, ON N6A 3K7<br>
							<a href="mailto:wits.uwo@gmail.com" class="link">wits.uwo@gmail.com</a><br>
							Made with &#10084;&#65039;&nbspin London, ON
						</p>
						<br>
					</div>
					<!-- footer social media for desktop view -->
					<div class="col-lg-5 col-sm-12 col-12">
						<ul class="wits-social">
							<li><a href="http://www.facebook.com/wits.uwo/" target="_blank"><img
										src="{{url_for('static', filename='images/facebook_b.png')}}"
										alt="facebook"></a></li>
							<li><a href="https://www.linkedin.com/company/uwowits/" target="_blank"><img
										src="{{url_for('static', filename='images/linkedin_b.png')}}"
										alt="linkedin"></a></li>
							<li><a href="http://www.instagram.com/wits.uwo/" target="_blank"><img
										src="{{url_for('static', filename='images/insta.png')}}" alt="instagram"></a>
							</li>
							<li><a href="https://wits-uwo.medium.com/" target="_blank"><img
										src="{{url_for('static', filename='images/medium_b.png')}}" alt="medium"></a>
							</li>
							<li><a href="https://open.spotify.com/show/5as4zJCEU6zHAv0hwdZGFE?si=wPx63QWfS02WjwW3dDDylA"
									target="_blank"><img src="{{url_for('static', filename='images/spotify_b.png')}}"
										alt="spotify"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Modal -->
	<div class="modal fade" id="membershipWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modalroundedcorners" role="document">
			<div class="modal-content py-4 px-5 rounded-lg">
				<button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-header text-center">
					<h4 class="modal-title" id="exampleModalLongTitle" style="color: #0A2338; font-size: 23px">Please
						ensure to use your <b>university email</b> as WITS memberships are only open to students. </h4>
				</div>
				<div class="modal-body text-center">
					<p style="font-weight: normal; font-size:14px">
						Certain member benefits are only available to female/non-binary and Western University students.
						<br>
						<a class="buttonHover" href="/membership">Please click here for more information.</a>
					</p>
					<fieldset>
						<label>
							<span style="font-size: 15px;"> Full Name </span>
							<input type="text" class="field" id="name-input" style="border-radius: 5px;">
						</label>
						<label>
							<span style="font-size: 15px;"> UWO/School Email </span>
							<input type="email" class="field" id="email-input" style="border-radius: 5px;">
						</label>
					</fieldset>
				</div>
				<div class="modal-footer text-center">
					<button class="btn btn-sm rounded-pill landingbutton mx-auto"
						style="color: white; font-family: Rubik; font-size: 16px"
						id="checkout-button-price_1HPhoxEEILg0FKcAjGc4OHXR" role="link" target="_blank" type="button">
						Continue to Checkout
					</button>
					<script>
						(function () {
							var stripe = Stripe('pk_live_51HRKErI0omsarzuVeaQCilo8REzURIoo5KZUxRd5EVQFdQTQEUgTHbYAylnUYjCeO6dKbmA44uXEhUMSuwQXCD0e001Kg3tvuu');
							var checkoutButton = document.getElementById('checkout-button-price_1HPhoxEEILg0FKcAjGc4OHXR');
							var name = document.getElementById('name-input');
							var uwoEmail = document.getElementById('email-input');
							checkoutButton.addEventListener('click', function (e) {
								e.preventDefault();
								fetch('/create-session', {
									method: 'POST',
									headers: {
										'Content-Type': 'application/json',
									},
									body: JSON.stringify({
										name: name.value,
										uwoEmail: uwoEmail.value,
									}),
								})
									.then((response) => response.json())
									.then((session) => {
										stripe.redirectToCheckout({
											sessionId: session.id
										});
									})
									.catch((error) => {
										console.error('Error:', error);
									});
							});
						})();
					</script>
				</div>
			</div>
		</div>
	</div>
	<div id="error-message"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>